<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>David Joshua Reyes</title>
</head>
<body>
    <div id="greeting-container">
        <h1 id="greeting-text">David Joshua Reyes</h1>
        <p>I like building things.</p>


    </div>
</body>
</html>